@model GACD_StackOverflow_Project.Models.AccountLoginModel
@{
    ViewBag.Title = "Gaby";
    Layout ="~/Views/Shared/_Layout.cshtml";
}

<h1 style="color:red">Login</h1>

@using (Html.BeginForm("Login","AccountLogin",null,FormMethod.Post,new {@class="form-horizontal"})){
    <div class="row" >
        <label>Username: </label>
        @Html.TextBoxFor(x => x.Username)
    </div>
    
 <div class="row" >
        <label>Password: </label>
        @Html.PasswordFor(x => x.Password)
    </div>
    <button type="submit">Guardar</button>
}
